body {
	background-color: aliceblue;
}

.jumbotron.jumbotron-fluid {
	background-image: url(../images/dark-bg-1.jpg);
	min-height: 500px;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

h1 {
	text-shadow: 2px 2px black;
}

p.lead.font-italic.text-white.text-center {
	text-shadow: 2px 2px black;
}

div.container-fluid.py-2 {
	background-color: rgb(28, 48, 83);
}

.img-thumbnail {
	width: 210px;
	height: 210px;
}
