.jumbotron.jumbotron-fluid {
	background-image: url(../images/dark-bg-1.jpg);
	min-height: 500px;
	background-size: cover;
	background-position: center;
}

h1 {
	text-shadow: 2px 2px black;
}

.img-thumbnail {
	width: 210px;
	height: 210px;
}